/* home */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

/* login */
.form-register {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .checkbox {
	margin-bottom: 10px;
}
.form-register .checkbox {
	font-weight: normal;
}
.form-register .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-register .form-control:focus {
	z-index: 2;
}
.form-register input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* custom */

/* sections */
.custom-dashboard {
	background-color: #ffee80;
}

/* other */
.custom-noradius {
	border-radius: 0;
}

.custom-navbar {
	margin-top: -32px;
}

.custom-2-buttons {
	width: 50%;
}

.custom-3-buttons {
	width: 33.33333333333%;
}
